body {
    font-family: "Karla", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.nav {
    width: 100%;
}

.nav-logo {
    margin-left: 5%;
    color: #FFFF;
    font-weight: 700;
}

.nav-logo img {
    margin-right: 5%;
}

.nav-style {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.main-buttons {
    margin-top: 3%;
}

@media (max-width: 500px) {
    .main-buttons {
        margin-top: 3%;
        margin-left: 7%;
    }
}
.form {
    width: 99%;
    margin: 0;
}

.main-btn {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    width: 98%;
    color: #FFFF;
    font-weight: 700;
    margin-bottom: 3%;
}

.meme {
    position: relative;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}